.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  background-color: white;
  padding: 20px;
  width: 50vw;
  border-radius: 7px;
}

#text {
  color: black;
}

#author {
  color: black;
  text-align: right;
}

#anime {
  color: black;
  text-align: left;
  margin-top: 0;
}

.group-button {
  display: flex;
  justify-content: space-between;
}

.button {
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: #ff6529;
  color: white;
}

#footer {
  background-color: rgb(61, 57, 57);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px 100px 0px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#footer-content {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  width: 80%;
}

#logo img {
  width: 150px;
}

#credit-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#profile-picture {
  width: 100px;
}

#copyright {
  border-top: black solid 2px;
  width: 100%;
}

#aboutme-detail {
  gap: 10px;
}

.shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.left-align {
  text-align: left;
}

.margin-0 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.t-decor-none {
  text-decoration: none;
}

.color-white {
  color: white;
}
